In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
import numpy as np

In [ ]:
car_dataset = pd.read_csv('car data.csv')

In [ ]:
car_dataset.head()

  Car_Name  Year  Selling_Price  Present_Price  ...  Fuel_Type Selling_type Transmission Owner
0     ritz  2014           3.35           5.59  ...     Petrol       Dealer       Manual     0
1      sx4  2013           4.75           9.54  ...     Diesel       Dealer       Manual     0
2     ciaz  2017           7.25           9.85  ...     Petrol       Dealer       Manual     0
3  wagon r  2011           2.85           4.15  ...     Petrol       Dealer       Manual     0
4    swift  2014           4.60           6.87  ...     Diesel       Dealer       Manual     0

[5 rows x 9 columns]

In [ ]:
car_dataset.shape

(301, 9)

In [ ]:
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
car_dataset.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [ ]:
print(car_dataset.Fuel_Type.value_counts())
print(car_dataset.Selling_type.value_counts())
print(car_dataset.Transmission.value_counts())

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64
Selling_type
Dealer        195
Individual    106
Name: count, dtype: int64
Transmission
Manual       261
Automatic     40
Name: count, dtype: int64

In [ ]:
car_dataset.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2}} ,inplace=True)
car_dataset.replace({'Selling_Type':{'Individual':0}} , inplace=True)
car_dataset.replace({'Transmission':{'Manual':0,'Automatic':1}} , inplace=True)

<ipython-input-75-58f6d41d4e9c>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car_dataset.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2}} ,inplace=True)
<ipython-input-75-58f6d41d4e9c>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car_dataset.replace({'Transmission':{'Manual':0,'Automatic':1}} , inplace=True)

In [ ]:
car_dataset.head()

  Car_Name  Year  Selling_Price  Present_Price  ...  Fuel_Type  Selling_type Transmission  Owner
0     ritz  2014           3.35           5.59  ...          0        Dealer            0      0
1      sx4  2013           4.75           9.54  ...          1        Dealer            0      0
2     ciaz  2017           7.25           9.85  ...          0        Dealer            0      0
3  wagon r  2011           2.85           4.15  ...          0        Dealer            0      0
4    swift  2014           4.60           6.87  ...          1        Dealer            0      0

[5 rows x 9 columns]

In [ ]:
x=car_dataset.drop(['Car_Name','Selling_Price'],axis=1)
y=car_dataset['Selling_Price']

In [ ]:
print(x)

     Year  Present_Price  Driven_kms  Fuel_Type Selling_type  Transmission  Owner
0    2014           5.59       27000          0       Dealer             0      0
1    2013           9.54       43000          1       Dealer             0      0
2    2017           9.85        6900          0       Dealer             0      0
3    2011           4.15        5200          0       Dealer             0      0
4    2014           6.87       42450          1       Dealer             0      0
..    ...            ...         ...        ...          ...           ...    ...
296  2016          11.60       33988          1       Dealer             0      0
297  2015           5.90       60000          0       Dealer             0      0
298  2009          11.00       87934          0       Dealer             0      0
299  2017          12.50        9000          1       Dealer             0      0
300  2016           5.90        5464          0       Dealer             0      0

[301 rows x 7 columns]

In [ ]:
print(y)

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state=2)

In [ ]:
lin_reg_model = LinearRegression()

In [ ]:
lin_reg_model.fit(x_train,y_train)

In [ ]:
training_data_predictions = lin_reg_model.predict(x_train)

In [ ]:
error_score = metrics.r2_score(y_train, training_data_predictions)
print("R squared Error : ", error_score)

In [ ]:
plt.scatter(y_train, training_data_predictions)
plt.xlabel("Actual Prce")
plt.ylabel("Predicted Price")
plt.title("Actual Prices vs Predicted Prices")
plt.show()

In [ ]:
test_data_predictions = lin_reg_model.predict(x_test)

In [ ]:
error_score = metrice.r2_score(y_test, test_data_predictions)
print("R squareed Error : ", error_score)

In [ ]:
plt.scatter(y_train, test_data_predictions)
plt.xlabel("Actual Prce")
plt.ylabel("Predicted Price")
plt.title("Actual Prices vs Predicted Prices")
plt.show()

In [ ]:
lass_reg_model = Lasso()

In [ ]:
lin_reg_model = LinearRegression()

In [ ]:
lin_reg_model.fit(x_train,y_train)